@import "../../utils/variables.scss";

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: $square-spacing;
  border: 2px solid rgb(0, 0, 0);
  border-radius: $table-border-radius;
  overflow: hidden;
  padding: $table-padding;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $square-spacing;
  flex: 1 1 auto;
  width: 100%;
}
